doctype html
html(lang="en")
  head
    title Test deploy
    meta(content="Simple pug (jade) starter aimed to quickly deliver HTML & CSS projects" name="description")
    //- this checks to see the the "embed" property is set to "true"
    //- in the package.json file
    if config.entry.css.embed
      link(rel="stylesheet" href=`${embedPath}` inline)
  body
    h1 Test deploy